body {
   margin: 0;
   font-family: 'Silkscreen', cursive;
}

.container {
   display: flex;
   flex-direction: column;
   padding: 30px;
}

h1,
h2,
h3 {
   margin: 0;
}

.rps-img img {
   width: 135px;
   display: block;
   border: 5px solid black;
   border-radius: 5%;
}

.rps-img img:hover {
   border: 5px solid rgb(1, 147, 184);
   transition: all 0.2s;
}

.rock:hover.greenBorder,
.papper:hover.greenBorder,
.scissor:hover.greenBorder {
   border: 5px solid rgb(0, 216, 11);
}

.rock:hover.redBorder,
.papper:hover.redBorder,
.scissor:hover.redBorder {
   border: 5px solid rgb(226, 5, 5);
}

.rock:hover.yellowBorder,
.papper:hover.yellowBorder,
.scissor:hover.yellowBorder {
   border: 5px solid rgb(232, 241, 103);
}

.rock.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.papper.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.scissor.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.rps-container,
.img-result {
   display: flex;
   justify-content: center;
   gap: 50px;
}

.rps-container {
   margin-top: 40px;
}

.player-display,
.computer-display {
   width: 250px;
}

.tempResultContainer {
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.scoreContainer {
   display: flex;
}

/* ________image flipping__________ */
.resultContainer {
   /* width: 360px; */
   /* padding: 15px; */
   display: flex;
   gap: 70px;
   justify-content: center;
   align-items: center;
   /* border: 5px solid green; */
}

.player-card,
.computer-card {
   position: relative;
}

.player-card img,
.computer-card img {
   width: 185px;
   display: block;
   border: 3px solid black;
   border-radius: 20%;
}

.player-front.greenBorder {
   border: 5px solid rgb(0, 216, 11);
}

.computer-front.greenBorder {
   border: 5px solid rgb(0, 216, 11);
}

.player-front.redBorder {
   border: 5px solid rgb(226, 5, 5);
}

.computer-front.redBorder {
   border: 5px solid rgb(226, 5, 5);
}

.player-front.yellowBorder {
   border: 5px solid rgb(232, 241, 103);
}

.computer-front.yellowBorder {
   border: 5px solid rgb(232, 241, 103);
}

/* front */
.player-card .player-front,
.computer-card .computer-front {
   transform: rotateY(90deg);
   transition: all ease-in 0.2s;
   position: absolute;
}

.flipped .player-front,
.flipped .computer-front {
   transform: rotateY(0deg);
   transition-delay: 0.2s;
}

/* back */
.player-card .player-back,
.computer-card .computer-back {
   transition: all ease-in 0.2s;
   transition-delay: 0.2s;
}

.flipped .player-back,
.flipped .computer-back {
   transform: rotateY(90deg);
   transition-delay: 0s;
}

.player-card,
.computer-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.reset {
   border-radius: 10px;
   width: 70px;
   background-color: #fff;
   font-size: 15px;
   padding: 5px;
   text-align: center;
   border: 2px solid rgb(0, 0, 0);
}

.reset:hover {
   border: 2px solid rgb(1, 147, 184);
   transition: all 0.2s;
}

.resetFinal {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
