.rps-img img {
   width: 150px;
   display: block;
   border: 5px solid black;
   border-radius: 5%;
}

.rps-img img:hover {
   border: 5px solid rgb(0, 192, 240);
   transition: all 0.2s;
}

.rock.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.papper.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.scissor.blueStay {
   border: 5px solid rgb(43, 75, 218);
}

.rps-container,
.img-result {
   display: flex;
   gap: 20px;
}

.rps-container {
   margin-bottom: 25px;
}

.player-display,
.computer-display {
   width: 250px;
}

/* ________image flipping__________ */
.resultContainer {
   /* width: 360px; */
   /* padding: 15px; */
   display: flex;
   gap: 20px;
   /* border: 5px solid green; */
}

.player-card,
.computer-card {
   position: relative;
}

.player-card img,
.computer-card img {
   width: 185px;
   display: block;
   border: 3px solid black;
   border-radius: 20%;
}

.player-front.greenBorder {
   border: 5px solid rgb(0, 216, 11);
}

.computer-front.greenBorder {
   border: 5px solid rgb(0, 216, 11);
}

/* front */
.player-card .player-front,
.computer-card .computer-front {
   transform: rotateY(90deg);
   transition: all ease-in 0.2s;
   position: absolute;
}

.flipped .player-front,
.flipped .computer-front {
   transform: rotateY(0deg);
   transition-delay: 0.2s;
}

/* back */
.player-card .player-back,
.computer-card .computer-back {
   transition: all ease-in 0.2s;
   transition-delay: 0.2s;
}

.flipped .player-back,
.flipped .computer-back {
   transform: rotateY(90deg);
   transition-delay: 0s;
}
